body {
    background-color: #202020;
}

.card {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 20px 20px;
    border-radius: 20px;
    border: 3px red solid;
}



.card-back {
    background-image: url('../image/pyramidimage.jpg');
}