body {
    background-color: #202020;
}

.box-front {
    background-color: purple;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 20px 20px;
    border-radius: 20px;
    border: 3px red solid;
} 

.box-back {
    background-color: green;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 20px 20px;
    border-radius: 20px;
    border: 3px red solid;
}

